<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
</head>
<body>
  <h2>list clientes</h2>
  <% lista.forEach(function(user){ %>
  <table>
    <tbody>
    <tr>  
    <td><%= user.nomeCli %></td>
    <td><a href="edit-form/{{this.id}}">Editar</a></td>
    <td><a href="">Excluir</a></button></td>
    </tr>
    </tbody>
    </table>
    <%  }) %>
</body>
</html>